@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: #201e1efb;
    
    
   
  }
 
  
  #proyectos {
    background-color: #f1f1f1;
  }
  
  #contacto {
    background-color: #ffffff;
  }
  
 
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  section {
    height: 100vh;
    scroll-margin-top: 40px;
  }
  
  nav {
    position: fixed;
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.85) !important;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
   
  }
  h1 {
    font-size:  4rem;
  }
  h2 {
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #333;
  }
  header {
    height: 100vh;
  }
  .banner {
    position: relative; /* Necesario para el overlay */
    background-image: url('images/Background_PortFolio_1.png');
    background-size: cover;
     /* Centra la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo al viewport */     
    
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh;
    overflow: hidden; /* Evita que el contenido desborde */
  }
  
  .banner::before {
    content: ''; /* Crea el overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Color negro con opacidad del 50% */
    z-index: 1; /* Asegura que el overlay esté detrás del contenido */
  }
  
  .banner-content {
    position: relative; /* Asegura que el contenido esté por encima del overlay */
    z-index: 2;
    color: rgb(255, 255, 255); /* Ajusta el color del texto para que sea visible */

    text-align: center; /* Centra el texto */
    padding: 2rem; /* Espaciado interno */
    border-right: .1px solid white;
    width: 70%;
    margin-top: 10%;
  }
  .bannerTitle {
    padding-top:5px;
    font-family: "Klee One", cursive;
    font-size: 6.5rem; /* Tamaño ideal para destacar */
    font-weight: 700; /* Negrita para mayor impacto */
    color: #e6e0e0; /* Blanco para contraste con el fondo oscuro */
    letter-spacing: 1px; /* Espaciado entre letras para mayor elegancia */
    margin: 20px; /* Elimina márgenes adicionales */
    text-align: left; /* Centra el texto */
    opacity: 0; /* Inicialmente invisible */
    transform: translateX(-50px); /* Mueve el texto hacia la izquierda */
    animation: slideIn 1.5s ease-out forwards; /* Aplica la animación */
  }
  .lead {
    background: rgba(0, 0, 0, 0.4); /* Color negro con opacidad del 50% */
    font-weight:100;
    font-size: 1.2;
    

  }
  .custom-btn {
    border: 1px solid #ccc;
    color: #fff;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-size: 1.6rem;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    z-index: 2;
    justify-content: center;
  
    bottom: 1.5rem;
    left: 42.5%;
    
  }
  
  .custom-btn:hover {
    background-color: #7d7a76; /* gris topo */
    color: #fff;
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  .containerMain{
    display: flex;
    align-items:center;
    justify-content: space-between;
  
    flex-wrap: wrap;
    color: white;
    
    
  }
  .containerImg{
    margin-top: 10%;
    
    margin-right: 5%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    gap: 30px;
    justify-items: center;
    align-items: center;
    

  }
 .containerMain   img{
  width: 80px;
  height: 80px;
  object-fit: contain;
  z-index: 1;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: filter 0.3s ease;

  }
  .containerMain img:hover {
    filter: brightness(0.8); /* Cambia el brillo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
    
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
  }
  .description {
    font-size: 0.5rem;
    font-weight: 100;
    margin-top: 20px;
    color: #fff;
    text-align:right;
    opacity: 0; /* Inicialmente invisible */
    transform: translateY(50px); /* Mueve el texto hacia abajo */
    animation: slideIn 1.5s ease-out forwards; /* Aplica la animación */
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10px;
  }	
.descriptionp{

  width: 31%;
  display: flex;
  justify-content: center;
  font-size: 0.7rem;

}
#aboutMe{

  
  background: linear-gradient(225deg, 
  #263243 0%, 
  #485b7a 25%, 
  #131824 50%, 
  #0f131e 75%, 
  #070c14 100%);
  
  color: white;
  display: flex;
  align-items: center;

  


}


#aboutMe h1 { 
   
    display: flex;
    justify-content: left;
    color: white;
    padding-top: 1rem;
    font-size: 7vw;
    


    
  }
  .sectionBox p{
    font-size: 1vw;
    font-weight: 100;
    color: rgba(249, 249, 249, 0.734);
    
    padding: 1rem;
    margin: 1rem;
    
    border-top: 1.5px solid transparent;
    border-bottom: 1.5px solid transparent;
    border-image: repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0.08) 20%
    );
    border-image-slice: 1;
    border-radius: 12px;


    
       
    
  }
  

  .sectionBox{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-left: 10%;
    border-left: 1.5px solid transparent;
    border-right: 1.5px solid transparent;
    border-image: repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0.08) 20%
    );
    border-image-slice: 1;
    border-radius: 12px;
    
  }
  .sectionBox2{
    
    
    display: flex;
    flex-direction: column;
    
    border-bottom: 1.5px solid transparent;
    
    border-image: repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0.08) 20%
    );
    border-image-slice: 1;
    border-radius: 12px;
    padding: 1rem;    
    
  }
  .about{
    font-weight: bolder;
    
    border-right: solid  1.5px rgba(246, 246, 246, 0.18);
    border-left: solid  1.5px rgba(246, 246, 246, 0.18);
    
    width: 83%;
    
    
  }
  .me{
    font-weight: 100;
    transform: rotate(90deg); 
    margin-left: 14.5vw;
    border-left: solid 1.5px rgba(246, 246, 246, 0.18);
    
  }
 

  #projects{
   background-color: #070c14;
   height: auto;
   padding: 1.5rem;	
  }
  #projects h2{
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 7vw;
    color: white;
    display: flex;
    justify-content: center;
    padding: 2rem;
    
    
  }
  .cardGroup{
    display: grid;
    grid-template-columns:repeat(2,1fr);  
    row-gap: 2rem;
    justify-items: center;
    
    
   
    
  }
  .card{
   padding: 1rem;
   width: 35vw;
   height: 70vh;
   display: flex;
   justify-content: space-evenly;


  }
  .card p {
    
    font-size: 0.8rem;
    font-weight: 100;
  }
  .projectsCard .icons{
    width:25px;
    height: 25px;
  }
 
.card img {
   object-fit: cover;
  border-radius: 12px;
  }
  #contact{
    background: linear-gradient(
      145deg,
      #2a0f29 0%,
      #1e293b 25%,
      #462e67 50%,
      #1e293b 75%,
      #2a0f2a 100%
    );
    color: white;
    padding: 1rem;
  }
  

  #contact h2{
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-size: 7vw;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    
    
  }
  #contact .label{
    font-family: "Megrim", system-ui;
    font-weight: 400;
    font-size: 1.5rem;

    color: white;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
  }
  .mailtoForm{
    display: flex;
    
    flex-direction: column;
    align-items:flex-start;
    
    
    height: 100vh;
  }
  .mailtoForm input{
    
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 12px;
      
    border: none;
    background-color: #ffffff14;
    color: #ffffff;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
  }
  .mailtoForm textarea{
    padding: 1rem;
    
    border-radius: 12px;
    border: none;
    background-color: #ffffff14;
    color: #ffffff;
    font-size: 1.2rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    
  }
  .mailtoForm button{
    padding: 1rem;
    width: 30%;
    
    border-radius: 12px;
    border: none;
    background-color: #ffffff30;
    color: #ffffff;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    
  }



#contact a {
    color: #e8f0c3;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
    padding: 0.5rem;
  }

#contact .pers{
    padding: 1rem;
    font-size: 1.2rem;
  }

  @keyframes scroll-vertical {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
  }
  
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  
  
  /* Definición de la animación */
  @keyframes slideIn {
    to {
      opacity: 1; /* Hace el texto visible */
      transform: translateX(0); /* Mueve el texto a su posición original */
    }
  }






















